@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

$yellow: #f1c21b;
$blue: #0F62FE;
$green: #42be65;

$navbarBg: #161616;
$background: #262626;
$cardBackground: #393939;

:root {
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #262626;
  color: white;
}
