@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

:root {
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #262626;
  color: white;
}
