# Dependency directories
node_modules/

# Optional npm cache directory
.npm
.pnpm
pnpm-lock.yaml

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*

# Mac files
.DS_Store