.Card {
  background-color: #393939;
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 29%;

  .title {
    display: flex;
    font-size: 20px;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  .description {
    font-size: 14px;
    line-height: 1.4;
  }
}

.Card:hover {
  background-color: #696969;
  cursor: pointer;
}
