.NavBar {
  background-color: #161616;
  border-bottom: 1px solid #393939;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 50px;

  .left {
  }

  .right {
    display: flex;
    border-left: 1px solid #393939;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 1rem;
    width: 200px;

    i.fa-github {
      font-size: 1.5rem;
    }
  }
}
