.search-params {
  width: 1100px;
  margin: 6em 0;
}

.search-params h2 {
  margin-bottom: 2rem;
}

.search-params label {
  display: block;
  width: 10px;
}

.search-params input {
  margin-bottom: 30px;
  font-size: 18px;
  height: 30px;
  width: 280px;
  background-color: #393939;
  color: inherit;
}