.Intro {
  display: flex;
  align-items: center;
  height: 300px;
  margin-bottom: 3rem;

  .left {
    h1 {
      font-size: 3.25rem;
      margin-bottom: 1.5rem;
    }

    width: 50%;
  }

  .right {
    display: flex;
    justify-content: center;
    width: 50%;
  }
}

.hero-sub {
  font-size: 1.25rem;
  line-height: 1.5;
}
