.repoButtons {
  margin-bottom: 5rem;
}

.repoButtons button {
  background-color: #0054f0;
  padding: 12px 16px;
  color: white;
  display: block;
  font-size: 1rem;
  width: 15rem;
  border: none;
  cursor: pointer;
}

.repoButtons h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.button-flex {
display: flex;
  justify-content: center;
  align-items: stretch; 
}

.generateButton span {
  padding-right: 1em;
  font-size: 1.2rem;
  position: relative;
}

.launchButton span {
  padding-right: 1.5em;
  font-size: 1.2rem;
  position: relative;
}

.repoButtons .launchButton {
  background-color: #42be65;
}

.repoButtons button:hover {
  background-color: #f1c21b;
  color: #262626;
  transition: 0.3s ease;
}

.repoButtons button:active {
  background-color: #5f1d22;
}

.repoButtons button:focus {
  border: 1px solid cornflowerblue;
}
